MONGO_ROOT_USER=csa_root
MONGO_ROOT_PASSWORD=replace_me
MONGO_APP_USER=csa_app
MONGO_APP_PASSWORD=replace_me
CSA_ROOT_URL=http://192.168.177.68:18600
CSA_LEGACY_EID=6fTnDkY4pn8M5afp4
CSA_LEGACY_MONGO_URL=mongodb://192.168.177.99:27036/meteor?directConnection=true
CSA_BOOTSTRAP_ADMIN_EMAIL=
CSA_BOOTSTRAP_ADMIN_PASSWORD=
CSA_GATEWAY_SECRET=generate_at_least_32_random_characters
CSA_GATEWAY_ORIGIN=http://192.168.177.68:18610
CSA_GATEWAY_COOKIE_SECURE=0
CSA_GATEWAY_SESSION_HOURS=8
CSA_TENANT_ADMIN_EMAILS=razvan.stefan.i@gmail.com
CSA_PLATFORM_ADMIN_EMAILS=razvan.stefan.i@gmail.com
CSA_CRAFT_ADMIN_GRADE_BYPASS=1
CSA_BACKUP_ROOT=./backups
CSA_MINIO_IMAGE=quay.io/minio/minio:RELEASE.2025-04-22T22-12-26Z
CSA_ARANGODB_IMAGE=arangodb:3.12.5
CSA_OPENSEARCH_IMAGE=opensearchproject/opensearch:3.7.0
CSA_CLAMAV_BASE_IMAGE=clamav/clamav:1.4.3
